* {
    font-family: 'Courier New';
}

h1,h3{
    color: #b92b27;
}
#login{
    color:rgb(15, 180, 209);
    background-color: rgb(207, 200, 101);
}
#signup{
    color:rgb(15, 180, 209);
    background-color: rgb(219, 212, 105);
}
.upvote{
    background-color: rgb(93, 248, 93);
}
p a{
    color: rgb(250, 125, 36);
}
nav ul li{
    color: rgb(240, 6, 84);
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    color:rgb(197, 1, 236);
    background-color: rgb(143, 250, 196);
}
div > input{
    background-color: rgb(34, 235, 241);
}
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: blue;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.733);
    color: rgba(255, 255, 255, 0.897);
}
h3:hover{
    text-decoration: none;
}

h1::first-letter{
    color: black;
}
h3::selection{
    background-color: yellow;
}
