* {
    font-family: 'Courier New';
}

h1,h3{
    color: #b92b27;
}
#login{
    color:rgb(15, 180, 209);
    background-color: rgb(207, 200, 101);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 80px;

}
#login:hover{
    background-color: rgb(245, 125, 215);
    transition:2s;
    border-radius: 50%;
}
#signup{
    color:rgb(15, 180, 209);
    background-color: rgb(219, 212, 105);
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 1000px;
}
.upvote{
    background-color: rgb(93, 248, 93);
}
p a{
    color: rgb(250, 125, 36);
}
nav ul li{
    color: rgb(240, 6, 84);
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    color:rgb(197, 1, 236);
    background-color: rgb(143, 250, 196);
}
div > input{
    background-color: rgb(34, 235, 241);
}
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: blue;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.733);
    color: rgba(255, 255, 255, 0.897);
}
h3:hover{
    text-decoration: none;
}

h1::first-letter{
    color: black;
}
h3::selection{
    background-color: yellow;
}
h1{

    border-style: solid;
    border-width: 90%;
    border-color: chartreuse;
    text-align: center;
    border-left-color: blueviolet;
    border-right-color: blueviolet;
    border-top-color: rgb(233, 101, 6);
     border-top-style:dotted;
     border-bottom-style: dashed;
     padding-top: 5%;
     background-color: rgb(245, 190, 236);
}

#one{
    text-align: center;
    background-color: rgb(91, 4, 231);
    height: 50px;
    width: 200px;
    margin-left:600px;
    box-shadow: 2px 2px 20px rgb(4, 5, 0);
}
#picture{
    width:600px;
    height:200px;
    background-color: rgb(121, 240, 200);
    margin:10px auto;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    background-image:url("download.jpeg");
    background-size: auto;
    color: aliceblue;
    text-align: center;
}
