.box{
    height: 200px;
    width: 300px;
    background-color: pink;
    /*
    animation-name: fontanimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;
    */
    animation: widthanimation 3s ease-in 0s infinite normal;
}

@keyframes widthanimation{
    from{
        width: 50px;
        background-color: rosybrown;
        font-size: 10px;
    }
    to{
        width: 300px;
        background-color: rgb(4, 185, 245);
        font-size: 60px;
    }
}
@keyframes fontanimation{
    from{font-size: 20px;}
    to{font-size: 50px;}
}

