.card{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    /* dono ko same line me rakhne ke liye inline block use kiye*/
    display: inline-block;
    margin-left: 200px;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgb(4, 5, 0);
    transition: 1s;
}
.desc{
    padding:0px 4px 0px 4px;
    color: maroon;
}
img{
    width: 200px;
    /* image ke thik karne ko border radius use kar rhe hai */
    border-radius: 20px 20px 0px 0px;
}
.card:hover{
        box-shadow: 0px 6px 30px rgb(245, 1, 192);

}