*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.box1{
    max-width: 600px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 4px 30px black;   
    border-radius: 10px;    
}
.form-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
    margin: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
button{
    background-color: rgb(190, 29, 29);
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: transparent solid 2px;
    transition: 0.5s ease-in;
}
.btn-con{
    display: flex;
    justify-content: flex-end;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
button:hover{
    background-color: #ccc;
    border: 2px solid rgb(207, 25, 25);
    color: black;
    cursor: pointer;
    transition: 0.3s ease-out;
}





